.box{
    height: 200px;
    width: 300px;
    background-color: antiquewhite;
}
.responsive-box{
    width: 50vw;
    height: 50vw;
    background-color: aqua;
}
.padded-text{
    padding: 20px;
    background-color: aquamarine;
}
.custom-padding {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: beige;
}
.border-box{
    border: solid 2px black;
    background-color: bisque;
}
.rounded-border{
    border: dotted 3px red;
    border-radius: 15px;
    background-color: blue;
}
.margin-text{
    margin: 30px;
    background-color: blueviolet;
}
.custom-margin{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: brown;
}
.inline-element{
    display: inline;
    background-color: burlywood;
}
.block-element{
    display: block;
    background-color: cadetblue;
}
.inline-block-element{
    display: inline-block;
    background-color: chartreuse;
}
.hidden-element{
    display: none;
    background-color: chocolate;
}
.visible-element{
    visibility: visible;
    background-color: coral;
}
.invisible-element{
    visibility: hidden;
    background-color: pink;
}
.transparent-box{
    background-color: blue;
    opacity: 0.5;
}